@import 'src/styles';

article {
    @include flex(column, nowrap, flex-start, flex-start);
    column-gap: 2rem;
    padding: 1rem;
    border-radius: 4px;
    background: darken($white-color, 4%);
}

.company {
    font-family: MontserratBold;
    color: $primary-color;
}

.duration {
    font-family: MontserratSemiBold;
    margin-bottom: 0.8rem;
}

.company,
.company-description {
    margin-bottom: 0.3rem;
}

.location {
    font-style: italic;
}