@import 'src/styles';

.about {
    @include flex(column, nowrap, center, center);
}

.about-content {
    h2 {
        width: 140px;
    }
    p {
        text-align: center;
    }
}

@media(min-width: 1280px) {
    .about-content {
        width: 80%;
    }
}

@media(min-width: 1500px) {
    .about-content {
        width: 70%;
    }
}