<section class="about container">
    <picture>
        <source srcset="assets/images/avatar/avatar_200.webp" type="image/webp">
        <img src="assets/images/avatar/avatar_200.png" alt="avatar which represents me" />
    </picture>
    <section class="about-content">
        <h2>ABOUT ME</h2>
        <p>Hi! My name is George Doudouliakis and i am a Front End Web Developer located in Thessaloniki, GR. My enthusiasm for building websites brought me to the 'world' of Front End Web Development in early 2020. Started with simple websites and thereafter enhanced my skills in JavaScript, i started learning Angular 2+. At the time speaking, i work as a Jr. Front End Developer for a company located in Thessaloniki, GR since April of 2021.</p>
        <p>I'm passionate about what i do, i love solving problems and learning every day something new or enhance my existing skills. I try to write clean code in the best possible way in order to achieve better performance and coding experience with respect to user experience (UX).</p>
    </section>
</section>