@import 'src/styles';

footer {
    padding: 0.8rem 0;
    background: $primary-color;
}

.go-top-arrow-container {
    @include flex(row, nowrap, center, center);
    width: 24px;
    margin:  0 auto 0.3rem auto;
    background: $secondary-color;
    border-radius: 4px;
    cursor: pointer;
}

p {
    text-align: center;
    color: $secondary-color;
}

@media(min-width: 768px) {
    footer {
        padding: 1.3rem 0;
    }
}