@import 'src/styles';

.project {
    width: 100%;
    height: 100%;
    background: $primary-color;
    border-radius: 4px;
    padding: 0.8rem;
    border: 1px solid $secondary-color;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
    padding: 0.5rem 0 0;
    border-top: 1px solid darken($white-color, 50%);
}

h3, p {
    color: $white-color;
}

h3, p, .tags {
    margin-bottom: 0.5rem;
}

.tag {
    display: inline-block;
    font-size: 0.9rem;
    padding: 0.5rem;
    margin: 0 0.3rem 0.3rem 0;
    color: $secondary-color;
    background: darken($primary-color, 10%);
    border-radius: 20px;
}

svg {
    transition: .5s ease;
    &:hover {
        fill: $secondary-color;
    }
}

.project-actions > a {
    position: relative;
    &:hover::after {
        opacity: 1;
    }
}

.preview-btn {
    &::after {
        @include tooltip(30px, -55px, 'Preview Project'); 
    }
}

.code-btn {
    margin-left: 0.8rem;
    &::after {
        @include tooltip(30px, -55px, 'Source Code'); 
    }
}