<section class="intro">
    <section class="intro-content container">
        <h1>
            <span>Hi!</span> 
            <span>I'm George,</span>
            <span>a Front End Web Developer</span>
        </h1>
        <section class="quote">
            <div class="arrow-right-container">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#F64C72"><path d="M0 0h24v24H0z" fill="none"/><path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4z"/></svg>
            </div>
            <blockquote>
                "Programming isn't about what you know, it's about what you can figure out." - Chris Pine
            </blockquote>
        </section>
    </section>
    <section class="go-to-projects-container" (click)="scrollToProjects()">
        <span>PROJECTS</span>
        <svg class="go-to-projects-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#F64C72"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M20 12l-1.41-1.41L13 16.17V4h-2v12.17l-5.58-5.59L4 12l8 8 8-8z"/></svg>
    </section>
    <div class="intro-right-style">
        <p>WELCOME</p>
    </div>
</section>