@import "src/styles";

.projects {
    width: 90%;
    margin: 0 auto 2rem auto;
}

h2 {
    width: 130px;
    margin-bottom: 2rem;
}

.projects-container {
    display: grid;
    grid-auto-rows: auto;
    gap: 20px;
}

@media(min-width: 768px) {
    .projects-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 1280px) {
    .projects-container {
        grid-template-columns: repeat(3, 1fr);
    }
}