@import './assets/scss/variables';
@import './assets/scss/mixins';

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

h1, h2, h3 {
    font-family: MontserratSemiBold;
}

p, li, a {
    font-family: MontserratRegular;
}

span {
    font-family: MontserratLight;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}