@import './assets/scss/variables';
@import './assets/scss/mixins';

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

h1, h2, h3, a {
    font-family: MontserratSemiBold;
}

p, li {
    font-family: MontserratRegular;
}

span {
    font-family: MontserratLight;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.5rem;
}

// Reusable Classes
.container {
    padding: 1.5rem 0;
    width: 90%;
    margin: auto;
}

@media(min-width: 768px) {
    p {
        font-size: 1.2rem;
    }
}