@import 'src/styles';

.resume {
    @include flex(column, nowrap, center, center);
    border-top: 1px solid lighten($black-color, 80%);
}

p {
    text-align: center;
    margin-bottom: 1rem;
}

.resume-actions {
    @include flex(column, nowrap, center, center);
    a {
        width: 142.31px;
        margin-top: 1rem;
    }
}

button, a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0.5rem 0.8rem;
    color: $primary-color;
    border-radius: 4px;
    border: 2px solid $primary-color;
    z-index: 1;
    overflow: hidden;
    transition: color .5s;
    &:before {
        position: absolute;
        top: 100%;
        left: 100%;
        content: "";
        height: 150px;
        width: 200px;
        background: $primary-color;
        border-radius: 50%;
        z-index: -1;
        transition: all .7s;
    }
    &:hover {
        color: $secondary-color;
        &:before {
            top: -30px;
            left: -30px;
        }
    }
}

button {
    font-size: 1rem;
    height: 39px;
    background: transparent;
}

@media(min-width: 450px) {
    .resume-actions {
        @include flex(row, nowrap, center, center);
        a {
            width: 142.31px;
            margin-top: 0;
            margin-left: 1rem;
        }
    }
}

@media(min-width: 960px) {
    p {
        width: 70%;
    }
}

@media(min-width: 1280px) {
    p {
        width: 60%;
    }
}

@media(min-width: 1500px) {
    p {
        width: 50%;
    }
}